@theme {
  --color-jet: #101112;
  --color-onyx: #1b1d20;
  --color-red: #ff4545;
  --color-orange: #ff5d00;
  --color-bright: #ffd581;
  --color-gold: #fff0b6;
  --color-powder: #f9f7f2;
  --color-mint: #41c49d;
  --color-green: #117f54;
  --color-sea: #20bfcf;

  --font-sans: "Exo 2", sans-serif;
}
